<!-- 市场概览 -->
<div class="content-section" id="section-overview" style="display: none;">
    <div class="card">
        <div class="card-header">
            <h5><i class="bi bi-bar-chart"></i> ETF市场概览</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">基本统计</div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>ETF总数</th>
                                        <td id="total-etfs">-</td>
                                    </tr>
                                    <tr>
                                        <th>基金公司数量</th>
                                        <td id="total-companies">-</td>
                                    </tr>
                                    <tr>
                                        <th>ETF总规模(亿元)</th>
                                        <td id="total-scale">-</td>
                                    </tr>
                                    <tr>
                                        <th>商务品数量</th>
                                        <td id="business-etfs">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 